@import '../vars';

.jc-input {

  .q-field__control {
    height: @button-height;
  }

  .q-field__marginal {
    height: @button-height;
    font-size: @font-size-norm;
  }

  .q-field__marginal .q-icon {
    font-size: 1em * @icon-font-size-kfc;
  }

}