@import '../vars';

.jc-toolbar-title {

  line-height: 1;

  &__text {
    font-size: 1em * @font-size-kfc-large-4;
  }

  &__text2 {
    font-size: 1em * @font-size-kfc-small-2;
    opacity: 0.6;
  }

}
