@import "../vars";


.jc-side-menu-item {

  min-height: 0.1em;
  padding: 0.5em 1.2em;

  .q-item__section--side {
    padding-right: 0.6em;
  }

  .q-item__section--side > .q-icon {
    font-size: 1em * @icon-font-size-kfc;
  }

  .q-item__section--avatar {
    min-width: 1em;
    align-self: flex-start;
    margin-top: 0.1em;

    .q-icon {
      color: @color-gray-700;
    }

  }

  .q-item__section--side:last-of-type {
    padding-right: 0;
  }

}

