@import "../vars";

.jc-btn {

  // padding слева/справа, что бы кнопка-иконка была квадратной
  @pad-icon: (@button-height - (1em * @icon-font-size-kfc)) * 0.5;

  &--icon-only {
    padding-left: @pad-icon;
    padding-right: @pad-icon;
  }

  // расчитываем, что кнопки outlined
  
  &--default {
    background: @color-gray-200 !important;
    color: @color-gray-900 !important;

    &:before {
      border-color: @color-gray-500 !important;
    }
  }

  &--primary {
    background: @color-primary-500 !important;
    color: @color-primary-100 !important;

    &:before {
      border-color: @color-primary-700 !important;
    }
  }

  &--danger {
    background: @color-negative-500 !important;
    color: @color-negative-100 !important;

    &:before {
      border-color: @color-negative-700 !important;
    }
  }

}
