@import "../vars";
//

.jc-panel {

  display: flex;
  flex-direction: column;

  border-radius: 4px;
  box-shadow: @shadow-1;

  // без этого - панель прозрачная
  background-color: white;

  // если изменить фон, то без этого фон не примет border-radius!
  & > div:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  & > div:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  //////

  &__body {
    flex: 1;
  }

  &__body--padding {
    padding: 0.5em 1em 0.5em 1em;
  }

  &__body--fit {
    display: flex;
    flex-direction: column;
  }

  &__body--fit > * {
    flex: 1;
  }

  //////

  &__bar {
    padding: 0.2em 1em 0.2em 1em;

    .jc-toolbar-title {
      font-size: @font-size-large-1;
      font-weight: 600;

      overflow: hidden;

      &__text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

  }

  & > div:not(:last-child) {
    border-bottom: 1px solid @color-separator;
  }

  //////

  // панель во весь видимый экран
  &--fullscreen {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: 0 !important;
    z-index: 2000; // quasar: $z-marginals
  }

}
