@import "./vars";

.jc-datagrid {
  display: flex;

  & > * {
    flex: 1;
  }

  ////

  --ag-header-background-color: @color-gray-100;
  //--ag-header-background-color: white;

  //--ag-secondary-foreground-color: @color-gray-700;

  --ag-row-border-color: #d9dcde;

  //--ag-selected-row-background-color: #b7e4ff;
  --ag-selected-row-background-color: #e8f1ff;

  //--ag-data-color: @color-gray-900;
  --ag-data-color: #212121;

  .ag-cell-wrapper {
    align-items: start; // что бы значения в ячейке прижимались вверх
  }

  .ag-theme-balham {
    font-size: 1em;
    font-family: @font-family-normal;

    .ag-cell, .ag-header-cell {
      line-height: 1.25;
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
    }

    // перенос для заголовков
    .ag-cell-wrap-text .ag-header-cell-text {
      overflow: visible;
      text-overflow: unset;
      white-space: normal;
      // word-break: break-word; // по словам?
    }

    .ag-root-wrapper {
      border: none;
    }

    .ag-ltr .ag-cell {
      border-right-color: var(--ag-row-border-color);
    }

    .ag-header-cell::after, .ag-header-group-cell::after {
      top: 0;
      height: 100%;
    }

    ////// checkbox select

    .ag-checkbox-input-wrapper {
      font-size: inherit;
      line-height: inherit;
      width: 1em;
      height: 1em;
      background-color: transparent;
    }

    .ag-checkbox .ag-input-wrapper {
      box-shadow: none;
    }

    .ag-checkbox-input-wrapper::after {
      font-size: inherit;
    }

    .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
      height: auto;
    }

  }

}
