@import "./vars";

.jc-datagrid {
  display: flex;

  & > * {
    flex: 1;
  }

  ////

  //--ag-header-background-color: @color-gray-100;
  //--ag-secondary-foreground-color: @color-gray-700;
  --ag-row-border-color: #d9dcde;

  .ag-cell-wrapper {
    align-items: start; // что бы значения в ячейке прижимались вверх
  }

  .ag-theme-balham {
    font-size: 1em;
    font-family: @font-family-normal;

    .ag-cell {
      line-height: @body-line-height;
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }

    .ag-header-cell {
      line-height: @body-line-height;
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }

    // перенос для заголовков
    .ag-cell-wrap-text .ag-header-cell-text {
      overflow: visible;
      text-overflow: unset;
      white-space: normal;
      // word-break: break-word; // по словам?
    }
    
    .ag-root-wrapper {
      border: none;
    }

    .ag-ltr .ag-cell {
      border-right-color: var(--ag-row-border-color);
    }

    .ag-header-cell::after, .ag-header-group-cell::after {
      top: 0;
      height: 100%;
    }

  }

}
